{% extends 'reviews/base.html' %}
{% load bootstrap3 %}


{% block title %}
<h2>{{ mineralwater.name }}</h2>
<h5>{{ mineralwater.review_set.count }} reviews ({{ mineralwater.average_rating | floatformat }} average rating)</h5>
{% endblock %}


{% block content %}
<h3>Recent reviews</h3>

{% if mineralwater.review_set.all %}
<div>
    {% for review in mineralwater.review_set.all %}
    <div>
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'reviews:review_detail' review.id %}">
        Read more..
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this Mineral Water yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'reviews:add_review' mineralwater.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Add
    </button>
    {% endbuttons %}
</form>
{% endblock %}