{% extends 'base.html' %}

{% block title %}
<h2>Mineral Water list</h2>
{% endblock %}

{% block content %}
{% if mineralwater_list %}
<div class="row">
    {% for mineralwater in mineralwater_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:mineralwater_detail' mineralwater.id %}">
        {{ mineralwater.name }}
        </a></h4>
        <h5>{{ mineralwater.review_set.count }} reviews</h5>
        <h5>{{ mineralwater.average_rating | floatformat }} average rating</h5>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No Mineral Water are available.</p>
{% endif %}
{% endblock %}